[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
fastapi = "*"
pybadges = "*"
pydantic = "*"
requests = "*"
uvicorn = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
